.input {
  border-radius: 3px;
  padding: 8px 10px;

  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  border: solid 1px  #ffffff30 ;
}


.inputs {
  display: flex;
  flex-direction: column;
  gap: 7px;
}


.cima {
  display: flex;
  flex-direction: column;
  gap: 5px;
}