* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

body {
  background-color: rgb(255, 255, 255);
  height: 100vh;
}

.geral {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  gap: 10px;  
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.h1{
  font-size: 45px;
  color: rgb(0, 0, 80);
}

.button {
  border-radius: 5px;
  cursor: pointer;
  border: none;
  padding: 10px 20px;

  color: white;
  background-color: rgb(100, 100, 100);
  border: solid black 2px;
}

.register {
  display: flex;
  justify-content: center;
}