* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

body {
  background-color: rgb(255, 234, 199);
  height: 100vh;
}

.geral {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  gap: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: solid 2px black;
  padding: 30px;
  border-radius: 10px;
  background-color: rgb(255, 247, 232);
}

.h1{
  font-size: 45px;
  color: rgb(0, 0, 80);
}

.button {
  border-radius: 5px;
  cursor: pointer;
  border: none;
  padding: 10px 20px;

  color: white;
  background-color: rgb(100, 100, 100);
  border: solid black 2px;
}

.register {
  display: flex;
  justify-content: center;
}

.registro {
  display: flex;
  flex-direction: column;
}

.cadastrar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}