* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

body {
  background-image: url(../public/maximilian-meyer-PbpxXgqoCxE-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.geral {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  gap: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: solid 2px #ffffff40;
  padding: 30px;
  border-radius: 20px;
  background-color: #ffffff30;
  backdrop-filter: blur(10px);
}

.h1{
  font-size: 45px;
  color: rgb(12, 1, 43);
}

.button {
  border-radius: 5px;
  cursor: pointer;
  border: none;
  padding: 10px 20px;

  color: white;
  background-color: rgb(100, 100, 100);
  border: solid black 2px;
}

.register {
  display: flex;
  justify-content: center;
}

.registro {
  display: flex;
  flex-direction: column;
}

.cadastrar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.linha {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.myButton {
  height: 40px;
  border-radius: 10px;
  cursor: pointer;
  border: solid #ffffff30;
  margin: 10px 0;
  background-image: linear-gradient(45deg, #080036, #355b74);
}
::-webkit-input-placeholder {
  color: rgb(39, 39, 39);
}
